<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Xtify POC</h1>
  </div>
</header>
<br>

<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Inbox 
      (<span ng-bind="messageCount"></span>)
    </div>
    <div class="panel-body">
      <!-- <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="refresh();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
        <button type="button" class="btn btn-default" ng-click="reactorReset();"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear Inbox</button>
      </div> -->
      <ul class="nav nav-pills">
        <li role="presentation"><a href="" ng-click="refresh();">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
        </a></li>
        <li role="presentation"><a href="#" ng-click="reactorReset();">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear Inbox
        </a></li>
      </ul>
    </div>

    <ul class="list-group">
      <a class="list-group-item" ng-repeat="message in messages" href="#">{{message.subject}}</a>
    </ul>

  </div>
</div>  

<!-- <div class="container">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a ng-href="{{thing.link}}" tooltip="{{thing.info}}" target="{{thing.target}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->

<footer class="footer">
  <div class="container">
      <p>Xtify POC |
        <a href="mailto:pinuno.fuentes@primerica.com">pinuno.fuentes@primerica.com</a>
  </div>
</footer>
